<div class="btn-group" style="margin-right: 20px;">
		<button av-event="[click] eventQuery(:node,:event,'state', false)" class="btn btn-default" av-class="{'active':( typeof state == 'undefined' )}">全部结束状态</button>
		<button av-event="[click] eventQuery(:node,:event,'state', 0)" class="btn btn-default" av-class="{'active':( state == 0 )}">未结束</button>
		<button av-event="[click] eventQuery(:node,:event,'state', 1)" class="btn btn-default" av-class="{'active':( state == 1 )}">已结束</button>
		<button av-event="[click] eventQuery(:node,:event,'state', 2)" class="btn btn-default" av-class="{'active':( state == 2 )}">未结束</button>
		<button av-event="[click] eventQuery(:node,:event,'state', 3)" class="btn btn-default" av-class="{'active':( state == 3 )}">已结束</button>

</div>

<button class="btn btn-default" type="button" av-event="[click] eventReSort()" style="margin-right:10px;">
	<span class="glyphicon glyphicon-sort"></span>
	排序</button>
<button class="btn btn-default" type="button" av-event="[click] eventPublish()"><span
		class="glyphicon glyphicon-ok-sign" ></span> 提交发布</button>
<button class="btn btn-default" type="button" style="margin-left:5px;" av-event="[click] eventCancelPublish()"><span
		class="glyphicon glyphicon-minus-sign"></span> 取消发布</button>
<button class="btn btn-warning" type="button" style="margin-left:10px;" av-event="[click] eventTrash()"><span class="glyphicon glyphicon-trash"></span>
	回收</button>
	<button class="btn btn-default" av-event="[click] eventSearch(:node,:event)" type="button" style="margin-left: 5px;"><span class="glyphicon glyphicon-filter"></span> 筛选</button>
	<span av-if="checkRouterAnchorQuerySearch()" class="label label-default" style="margin-left: 5px;">存在筛选</span>

<hr />
<table class="table table-striped">
	<thead>
		<tr>
			<th><input type="checkbox" checkbox="checkbox-all"></th>
			<th>#</th>
			<th>
				<a href="javascript:;" av-event="[click] eventSort(:node,:event,'name_asc', 'name_desc')">
					<span av-if="existSort('name_asc', 'name_desc')" class="glyphicon"
						av-class="{'glyphicon glyphicon-sort-by-attributes':checkSort('name_asc'), 'glyphicon-sort-by-attributes-alt':checkSort('name_desc')}">

					</span>文章名称</a>
			</th>
			<th>文章简介</th>
			<th>
				<a href="javascript:;" av-event="[click] eventSort(:node,:event,'state_asc', 'state_desc')">
					<span av-if="existSort('state_asc', 'state_desc')" class="glyphicon"
						av-class="{'glyphicon glyphicon-sort-by-attributes':checkSort('state_asc'), 'glyphicon-sort-by-attributes-alt':checkSort('state_desc')}">

					</span>状态</a>
			</th>
			<th>
				<a href="javascript:;" av-event="[click] eventSort(:node,:event,'sort_asc', 'sort_desc')">
					<span av-if="existSort('sort_asc', 'sort_desc')" class="glyphicon"
						av-class="{'glyphicon glyphicon-sort-by-attributes':checkSort('sort_asc'), 'glyphicon-sort-by-attributes-alt':checkSort('sort_desc')}">

					</span>排序</a>
			</th>
			<th>
				<a href="javascript:;" av-event="[click] eventSort(:node,:event,'update_time_asc', 'update_time_desc')">
					<span av-if="existSort('update_time_asc', 'update_time_desc')" class="glyphicon"
						av-class="{'glyphicon glyphicon-sort-by-attributes':checkSort('update_time_asc'), 'glyphicon-sort-by-attributes-alt':checkSort('update_time_desc')}">

					</span>更新时间</a>
			</th>

			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr av-if="list && list.data && list.data.length" av-for="(value,index)list.data" av-event="[dblclick] eventTrDblclick(:node,:event)" av-attr="[data-id] value.cms_article_id" data-checkbox="checkbox">
			<th><input type="checkbox" checkbox="checkbox" av-attr="[data-id] value.cms_article_id"></th>
			<td>{{parseInt(index)+1+((parseInt(list.page_now) - 1) * list.page_size)}}</td>
			<th>
				{{value.cms_article_name}}
			</th>
			<td>
				<div class="tips" data-title="查看分类简介"
					style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 150px;cursor: pointer;"
					av-event="[click] eventShowInfo(:node,:event,value.cms_article_id)">
					{{value.cms_article_info}}
				</div>
			</td>

			<td>
				<span class="label label-success" av-if="value.cms_article_state==1">已发布</span>
				<span class="label label-warning" av-elseif="value.cms_article_state==2">待审核</span>
				<span class="label label-info" av-elseif="value.cms_article_state==3">编辑中</span>
				<span class="label label-danger" av-elseif="value.cms_article_state==0">已关闭</span>
				<span class="label label-default" av-else>未知</span>
			</td>

			<td>
				<input style="width: 80px;" type="text" class="form-control" placeholder="排序" input="sort"
					av-attr="[data-id] value.cms_article_id" av-attr="[value] value.cms_article_sort"></td>
			</td>
			<td>
				{{av.date("yyyy/MM/dd HH:mm EEE", parseInt(value.cms_article_update_time) * 1000)}}

			</td>

			<td>
				<a av-attr="[href] av.router(av.router().url,'index.html#/cms/article_edit?id='+value.cms_article_id).href" 
				class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-edit"></span>编辑</a>
			</td>
		</tr>
		<tr av-else>
			<td colspan="10" align="center">无数据</td>
		</tr>
	</tbody>
</table>



<div av-if="list.data.length" style="text-align: center;">
	<button class="btn btn-default" data-page="1" av-class="{'disabled':isFirstPage(list.page_now)}" type="button"
		style="margin-right: 5px;" av-event="[click] eventPageRequest(:node,:event)">首页</button>
	<button class="btn btn-default" av-attr="[data-page] parseInt(list.page_now) - 1"
		av-class="{'disabled':isFirstPage(list.page_now)}" type="button" style="margin-right: 5px;"
		av-event="[click] eventPageRequest(:node,:event)">上一页</button>
	<button class="btn btn-default" type="button" style="margin-right: 5px;">
		第{{list.page_now}}页
		/ 共{{list.page_count}}页
		/ 有{{list.row_count}}条数据</button>
	<button class="btn btn-default" type="button" av-attr="[data-page] parseInt(list.page_now) + 1"
		av-class="{'disabled':isEndPage(list.page_now, list.page_count)}" style="margin-right: 5px;"
		av-event="[click] eventPageRequest(:node,:event)">下一页</button>
	<button class="btn btn-default" type="button" av-attr="[data-page] list.page_count"
		av-class="{'disabled':isEndPage(list.page_now, list.page_count)}" style="margin-right: 5px;"
		av-event="[click] eventPageRequest(:node,:event)">尾页</button>
</div>
<div class="form-inline" style="text-align: center;margin-top: 10px;">
	<div class="form-group" style="margin-right: 5px;">
		<input type="text" class="form-control" input-page="requestPageRequestValue" placeholder="输入跳转页"
			style="width: 100px;">
	</div>
	<button type="button" class="btn btn-default" av-event="[click]eventPageRequestSubmit(:node,:event)">跳转</button>
</div>
