<div class="form-group">
	<label>商品名称：</label>
	<input type="text" class="form-control" placeholder="商品名称" name="shop_goods_name">
</div>

<div class="form-group">
	<label>商品货号：</label>
	<input type="text" class="form-control" placeholder="商品货号" name="shop_goods_sn">
</div>
<div class="form-group">
	<label>商品资金类型：</label>
	<select class="form-control" name="shop_goods_property">
		<option av-attr="[value] sgpValue.id" av-attr="[selected] sgpKey == 0?'selected':false" av-for="(sgpValue, sgpKey)applicationShopGoodsPropertyOption()">{{sgpValue.name}}</option>
	</select>
</div>

<div class="form-group" av-if="!applicationCheckZhongrunhuizhan()">
	<label>商品索引标记：</label>
	<select class="form-control" name="shop_goods_index">
		<option av-attr="[value] sgiValue.id" av-attr="[selected] sgiKey == 0?'selected':false" av-for="(sgiValue, sgiKey)applicationShopGoodsIndexOption()">{{sgiValue.name}}</option>
	</select>
</div>





