<div class="form-group">
	<label>代理地区ID：</label>
	<input type="text" class="form-control" readonly="readonly" av-attr="[value] data.agent_region_id">
</div>

<div class="form-group" av-if='!applicationCheckYouli()'>
	<label>代理范围：</label>
	<input type="text" class="form-control" readonly="readonly" av-attr="[value] getSelectedScope()">
</div>

<div class="form-group" av-if='!applicationCheckYouli()'>
	<label>选择分配地区：</label>
	<input type="text" class="form-control" readonly="readonly" av-attr="[value] getSelected()">
</div>

<div class="form-group" av-if='applicationCheckYouli()'>
		<label>代理详细地址：</label>
		<input type="text" class="form-control" name="agent_region_details" av-attr="[value] data.agent_region_details">
	</div>
<div class="form-group" av-else>
	<label>代理详细地址：</label>
	<input type="text" class="form-control" readonly="readonly" av-attr="[value] data.agent_region_details">
</div>

<div class="form-group">
	<label>状态：</label>
	<label class="checkbox-inline">
		<input type="checkbox" value="0" name="agent_region_state" av-attr="[checked] data.agent_region_state == 1?false:'checked'"> 封禁
	</label>
</div>

<div class="form-group">
	<label>介绍：</label>
	<textarea class="form-control" rows="3" name="agent_region_info" placeholder="介绍" >{{data.agent_region_info}}</textarea>
</div>

<br/>
<button type="button" class="btn btn-primary" av-event="[click] eventSubmit(:node,:event)" av-class="{'disabled':submitLock}" >确定编辑</button>

<hr/>
<span style="color: #999999;">更新时间：{{av.date("yyyy/MM/dd HH:mm EEE", parseInt(data.agent_region_update_time) * 1000)}}</span>
<div style="height: 100px;"></div>



