<div class="form-group">
		<label>优惠券名称：</label>
		<input type="text" class="form-control"  name="coupon_name" placeholder="请输入优惠券名称" >
	</div>
	<div class="form-group">
		<label>信息：</label>
		<textarea class="form-control" rows="3" name="coupon_info" placeholder="请输入优惠券信息" ></textarea>
	</div>
	<div class="form-group">
		<label>优惠券标签：</label>
		<textarea class="form-control"  name="coupon_label" placeholder="请输入优惠券标签" ></textarea>
	</div>
	<div class="form-group">
		<label>优惠券注释信息：</label>
		<textarea class="form-control"  name="coupon_comment" placeholder="请输入优惠券注释信息" ></textarea>
	</div>

	<div class="form-group">
		<label>优惠类型：</label>
		<select class="form-control" name="coupon_type" av-event="[change] eventChangeType(:node,:event)">
			<option value="">-请选择-</option>
			<option av-for="(type, index)typeOption" av-attr="[value] index">
			{{type}}
			</option>
		</select>
	</div>
	<!-- 优惠所属模块 -->
	<div class="form-group">
		<label>所属模块：</label>
		<select class="form-control" name="coupon_module" >
			<option value="">-请选择-</option>
			<option av-for="(module, index)moduleOption" av-attr="[value] index">
			{{module}}
			</option>
		</select>
	</div>
	<!-- 		所属资金类型 	-->
	<div class="form-group">
			<label>资金类型：</label>
			<select class="form-control"  name="coupon_property" av-event="[change] eventChangeUnit(:node,:event)">
				<option value="0" selected>人民币优惠券</option>
				<option value="1" >积分优惠券</option>
			</select>
		</div>
	<!-- 最小优惠金额 默认为0 -->
	<div class="form-group" >
			<label>最小限制({{coupon_property_unit}})：</label>
			<input type="text" class="form-control" name="coupon_limit_min">	
	</div>
	<!-- 最大优惠金额 默认为0 -->
	<div class="form-group" >
			<label>最大限制({{coupon_property_unit}})：</label>
			<input type="text" class="form-control"  name="coupon_limit_max">	
	</div>
	<!-- 折扣 选填-->
	<div class="form-group" >
			<label>折扣({{coupon_discount_unit}})：</label>
			<input type="text" class="form-control" name="coupon_discount">	
	</div>
	
	<!-- 开始时间 必填-->
	<div class="form-group" >
			<label>开始时间：</label>
			<input type="text" placeholder="不填默认领取后开始计时" class="form-control" name="coupon_start_time" av-attr="[value] ''">	
	</div>
	<!-- 结束时间 必填-->
	<div class="form-group" >
			<label>结束时间：</label>
			<input type="text" placeholder="不填默认永久有效" class="form-control" name="coupon_end_time" av-attr="[value] ''">	
	</div>
	<div av-if="applicationCheckYouli()" class="form-group">
		<label>用户领取次数：</label>
			<input type="text" class="form-control"  av-attr="[value] '1'" name="coupon_get_num" > 
	
	</div>
	<div av-if="applicationCheckYouli()" class="form-group">
		<label>是否开启发放：</label>
		<label class="checkbox-inline">
			<input type="checkbox"  name="coupon_get_type" > 是
		</label>
	</div>
	<!-- 状态 0 失效  1 正常-->
	<div class="form-group">
		<label>状态：</label>
		<label class="checkbox-inline">
			<input type="checkbox" value="1"  name="coupon_state" > 封禁
		</label>
	</div>
	
	
	
	<br/>
	<button type="button" class="btn btn-primary" av-event="[click] eventSubmit(:node,:event)" av-class="{'disabled':submitLock}" >确定添加</button>
		<div style="height: 100px;"></div>
	
	
	
	